To explain map, reduce and filter i have used list examples...

MAP, REDUCE & FILTER

In [ ]:
# MAP, A function which take two things
#1. a function(what to do)
#2. an iterable(where to do)
# Returns new list.

names = ["krishna", "sushant", "nakul", "manish"]
# i want to upper case the names inside this list

#normal method
uper_names = []
for name in names:
    uper_names.append(name.upper())
print(uper_names)

#using map-
upper_names = list(map(lambda name: name.upper(), names))
print(upper_names)

['KRISHNA', 'SUSHANT', 'NAKUL', 'MANISH']
['KRISHNA', 'SUSHANT', 'NAKUL', 'MANISH']

FILTER is a similar function used when we want only those items which stasify a certain condition. Like a selection function
filter() takes
1. a function which returns true or false
2. an iterable
Returns a new FILTERED LIST

In [5]:
li = ["krishna", "tammana", "kunika", "tanmay", "krish", "kritika", "monica"]
# from this list i want names which starts with letter 'k'ArithmeticError

#normal method
names_start_with_k =[]
for name in li:
    if name.startswith('k'):
        names_start_with_k.append(name)
print(names_start_with_k)

#using filter

start_with_k = list(filter(lambda name:name.startswith('k'), li))
print(start_with_k)

['krishna', 'kunika', 'krish', 'kritika']
['krishna', 'kunika', 'krish', 'kritika']

REDUCE is used when we want to combine all elements of a list into a single value like(sum, product).
reduce() takes
1. a function that take two value(eg add them)
2. A list
-> it keeps applying the function on whole list!
Returns a single value!

Reduce function is deprecated function so we have to import it from functools

In [8]:
roll_nums = [1812, 1950, 1882, 1820, 1840]
# now i want a sum of all roll numbers inside this list

#normal manner
sum = 0
for n in roll_nums:
    sum+=n
print(sum)

#using reduce

from functools import reduce

total = reduce(lambda a,b: a+b, roll_nums)
print(total)

9304
9304

In [ ]:
# getting rid of null values

listttt = [1,3,"", "krishna",0,3]
filter(None, listttt)

In [12]:
list(filter(None, listttt))

[1, 3, 'krishna', 3]