## DataFrame

A tabular data structure with rows and columns like a excel spreadsheet. 2d

In [2]:
import numpy as np
import pandas as pd

In [22]:
data = {
    "Name": ["Krishna", "Nakul", "Manish"],
    "City": ["YNR", "Jind", "Jind"]
}

df = pd.DataFrame(data, index=["C1","C2","C3"])
# .DataFrame is a constructor as well, it identiesf the input data type and convert into 2d table,ie dataframe.
print(df)

       Name  City
C1  Krishna   YNR
C2    Nakul  Jind
C3   Manish  Jind

In [21]:
print(df.loc["C1"])
print(df.loc["C3"])

Name    Krishna
City        YNR
Job         NaN
Name: C1, dtype: object
Name    Manish
City      Jind
Job        NaN
Name: C3, dtype: object

In [23]:
#adding a new column
df["Job"] = ["DA","AIE","FSD"]
print(df)

       Name  City  Job
C1  Krishna   YNR   DA
C2    Nakul  Jind  AIE
C3   Manish  Jind  FSD

In [ ]:
#adding new rows
new_row = pd.DataFrame([{"Name":"Archit", "City":"Hisar", "Job":"NA"},
                        {"Name":"Hitesh", "City":"Panipat", "Job":"FED"}], index=["C4","C5"])
df = pd.concat([df, new_row])
print(df)

       Name     City  Job
C1  Krishna      YNR   DA
C2    Nakul     Jind  AIE
C3   Manish     Jind  FSD
C4   Archit    Hisar   NA
C5   Hitesh  Panipat  FED