In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
#selection by column
print(df["Name"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object

In [5]:
print(df["Name"].to_string())

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28       Nidoran♀
29       Nidorina
30      Nidoqueen
31       Nidoran♂
32       Nidorino
33       Nidoking
34       Clefairy
35       Clefable
36         Vulpix
37      Ninetales
38     Jigglypuff
39     Wigglytuff
40          Zubat
41         Golbat
42         Oddish
43          Gloom
44      Vileplume
45          Paras
46       Parasect
47        Venonat
48       Venomoth
49        Diglett
50        Dugtrio
51         Meowth
52        Persian
53        Psyduck
54        Golduck
55         Mankey
56       Primeape
57      Growlithe
58       Arcanine
59        Poliwag
60      Poliwhirl
61      Poliwrath
62           Abra
63        Kadabra
64       Alakazam
65         Machop
66        Machoke
67        Machamp
68     Bellsprout
69     Weepinbell
70     Victreebel
71      Tentacool
72     Tentacruel
73        Geodude
74       Graveler
75          Golem
76         Ponyta
77       Rapidash
78       Slowpoke
79        Slowbro
80      Magnemite
81       Magneton
82     Farfetch'd
83          Doduo
84         Dodrio
85           Seel
86        Dewgong
87         Grimer
88            Muk
89       Shellder
90       Cloyster
91         Gastly
92        Haunter
93         Gengar
94           Onix
95        Drowzee
96          Hypno
97         Krabby
98        Kingler
99        Voltorb
100     Electrode
101     Exeggcute
102     Exeggutor
103        Cubone
104       Marowak
105     Hitmonlee
106    Hitmonchan
107     Lickitung
108       Koffing
109       Weezing
110       Rhyhorn
111        Rhydon
112       Chansey
113       Tangela
114    Kangaskhan
115        Horsea
116        Seadra
117       Goldeen
118       Seaking
119        Staryu
120       Starmie
121      Mr. Mime
122       Scyther
123          Jynx
124    Electabuzz
125        Magmar
126        Pinsir
127        Tauros
128      Magikarp
129      Gyarados
130        Lapras
131         Ditto
132         Eevee
133      Vaporeon
134       Jolteon
135       Flareon
136       Porygon
137       Omanyte
138       Omastar
139        Kabuto
140      Kabutops
141    Aerodactyl
142       Snorlax
143      Articuno
144        Zapdos
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo

In [6]:
print(df[["Name","Height"]])

           Name  Height
0     Bulbasaur     0.7
1       Ivysaur     1.0
2      Venusaur     2.0
3    Charmander     0.6
4    Charmeleon     1.1
..          ...     ...
145     Moltres     2.0
146     Dratini     1.8
147   Dragonair     4.0
148   Dragonite     2.2
149      Mewtwo     2.0

[150 rows x 2 columns]

In [7]:
df = pd.read_csv("data.csv", index_col="Name")

In [8]:
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

In [10]:
#selection by row
print(df.loc["Pikachu"])

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [13]:
print(df.loc["Dratini",["Type1"]])

Type1    Dragon
Name: Dratini, dtype: object

In [16]:
pokemon = input("enter a name: ")
try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not find")

No              147
Type1        Dragon
Type2           NaN
Height          1.8
Weight          3.3
Legendary         0
Name: Dratini, dtype: object

In [23]:
#filtering: keeping those rows which match a certain condition.
tall_pokemon = df[df["Height"] > 2]
print(tall_pokemon)

             No   Type1   Type2  Height  Weight  Legendary
Name
Arbok        24  Poison     NaN     3.5    65.0          0
Onix         95    Rock  Ground     8.8   210.0          0
Kangaskhan  115  Normal     NaN     2.2    80.0          0
Gyarados    130   Water  Flying     6.5   235.0          0
Lapras      131   Water     Ice     2.5   220.0          0
Snorlax     143  Normal     NaN     2.1   460.0          0
Dragonair   148  Dragon     NaN     4.0    16.5          0
Dragonite   149  Dragon  Flying     2.2   210.0          0

In [26]:
tiny_pokemon = df[df["Height"]< 0.5]
print(tiny_pokemon)

            No     Type1    Type2  Height  Weight  Legendary
Name
Caterpie    10       Bug      NaN     0.3     2.9          0
Weedle      13       Bug   Poison     0.3     3.2          0
Pidgey      16    Normal   Flying     0.3     1.8          0
Rattata     19    Normal      NaN     0.3     3.5          0
Spearow     21    Normal   Flying     0.3     2.0          0
Pikachu     25  Electric      NaN     0.4     6.0          0
Nidoran♀    29    Poison      NaN     0.4     7.0          0
Paras       46       Bug    Grass     0.3     5.4          0
Diglett     50    Ground      NaN     0.2     0.8          0
Meowth      52    Normal      NaN     0.4     4.2          0
Geodude     74      Rock   Ground     0.4    20.0          0
Magnemite   81  Electric    Steel     0.3     6.0          0
Shellder    90     Water      NaN     0.3     4.0          0
Krabby      98     Water      NaN     0.4     6.5          0
Exeggcute  102     Grass  Psychic     0.4     2.5          0
Cubone     104    Ground      NaN     0.4     6.5          0
Horsea     116     Water      NaN     0.4     8.0          0
Ditto      132    Normal      NaN     0.3     4.0          0
Eevee      133    Normal      NaN     0.3     6.5          0
Omanyte    138      Rock    Water     0.4     7.5          0

In [27]:
leg_pokemon = df[df["Legendary"] == 1]
print(leg_pokemon)

           No     Type1   Type2  Height  Weight  Legendary
Name
Articuno  144       Ice  Flying     1.7    55.4          1
Zapdos    145  Electric  Flying     1.6    52.6          1
Moltres   146      Fire  Flying     2.0    60.0          1
Mewtwo    150   Psychic     NaN     2.0   122.0          1